@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
input:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

#__next img,
#__next video {
  max-width: none !important;
  height: auto !important;
}

body {
  /* background-color: #e2e2e2; */
  font-family: "Manrope", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif !important;
}

p {
  font-family: "Nunito, sans-serif";
}

.header-1_black {
  font-weight: 900;
  font-size: 3rem;
  line-height: 59px;
}
.header-2_black {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 49px;
}
.header-3_black {
  font-weight: 900;
  font-size: 2rem;
  line-height: 42px;
}
.header-4_black {
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 38px;
}
.label-1_black {
  font-weight: 900;
  font-size: 1.625rem;
  line-height: 32px;
}
.label-2_black {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 30px;
}
.label-3_black {
  font-weight: 900;
  font-size: 1.375rem;
  line-height: 29px;
}
.label-4_black {
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 28px;
}

.header-1_bold {
  font-weight: 700;
  font-size: 3rem;
  line-height: 70px;
}
.header-2_bold {
  font-weight: 600;
  font-size: 2rem;
  line-height: 49px;
}
.header-3_bold {
  font-weight: 700;
  font-size: 2rem;
  line-height: 42px;
}
.header-4_bold {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 38px;
}
.label-1_bold {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 32px;
}
.label-2_bold {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 30px;
}
.label-3_bold {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 29px;
}
.label-4_bold {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 28px;
}
.header-1_medium {
  font-weight: 500;
  font-size: 3rem;
  line-height: 59px;
}
.header-2_medium {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 49px;
}
.header-3_medium {
  font-weight: 500;
  font-size: 2rem;
  line-height: 42px;
}
.header-4_medium {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 38px;
}
.label-1_medium {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
}
.label-2_medium {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 30px;
}
.label-3_medium {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 29px;
}
.label-4_medium {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 28px;
}
.header-1_regular {
  font-weight: 400;
  font-size: 3rem;
  line-height: 59px;
}
.header-2_regular {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 49px;
}
.header-3_regular {
  font-weight: 400;
  font-size: 2rem;
  line-height: 42px;
}
.header-4_regular {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 38px;
}
.label-1_regular {
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 32px;
}
.label-2_regular {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 30px;
}
.label-3_regular {
  font-weight: 400;
  font-size: 1rem;
  line-height: 29px;
}
.label-4_regular {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 28px;
}
.header-1_light {
  font-weight: 300;
  font-size: 3rem;
  line-height: 59px;
}
.header-2_light {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 49px;
}
.header-3_light {
  font-weight: 300;
  font-size: 2rem;
  line-height: 42px;
}
.header-4_light {
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 38px;
}
.label-1_light {
  font-weight: 300;
  font-size: 1.625rem;
  line-height: 32px;
}
.label-2_light {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 30px;
}
.label-3_light {
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 29px;
}
.label-4_light {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 28px;
}
.text-1_black {
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 26px;
}
.text-2_black {
  font-weight: 900;
  font-size: 1rem;
  line-height: 24px;
}
.text-3_black {
  font-weight: 900;
  font-size: 0.875rem;
  line-height: 23px;
}
.text-4_black {
  font-weight: 900;
  font-size: 0.75rem;
  line-height: 18px;
}
.text-1_bold {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 26px;
}
.text-2_bold {
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
}
.text-3_bold {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 23px;
}
.text-4_bold {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 18px;
}
.text-1_medium {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 26px;
}
.text-2_medium {
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
}
.text-3_medium {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 23px;
}
.text-4_medium {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 18px;
}
.text-1_regular {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 26px;
}
.text-2_regular {
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
}
.text-3_regular {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 23px;
}
.text-4_regular {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 18px;
}
.text-1_light {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 26px;
}
.text-2_light {
  font-weight: 300;
  font-size: 1rem;
  line-height: 24px;
}
.text-3_light {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 23px;
}
.text-4_light {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 18px;
}

.active-link {
  color: #3090f8;
}
.active-link_1 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #3090f8;
  position: absolute;
  bottom: 12pxpx;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #3090f8;
  padding: 4px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-mobile {
  display: none;
  padding: 0.5rem 1rem;
}

.navbar ul {
  display: flex;
  gap: 3rem;
}
.navbar_outline {
  padding: 0.5rem 2rem;
  border-radius: 8px;
}
.main-container {
  padding-left: 100px;
  padding-right: 100px;
}
.subscribe-container {
  padding: 2rem 6.5rem;
}
.testimony-abs {
  position: absolute;
  bottom: -12px;
  right: 1%;
  margin-left: 30rem;
}
.about-abs {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  max-width: 600px;
}

.ceo-abs {
  position: absolute;
  bottom: 7%;
  right: 7%;
  max-width: 702px;
}
.help-container {
  text-align: center;
  margin: auto;
}
.partnership-container {
  font-family: "Poppins", sans-serif;
}
.contact-container {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}
.footer-container {
  background-color: #5758ef1c;
  padding: 2rem 6rem;
}
.footer-grid {
  display: grid;
  grid-template-columns: 5fr 7fr;
}
.border-outline {
  padding: 1rem 0px 0px 2rem;
  border-top: 1px solid #fff;
}
.btn-primary_bg {
  background: #35b181 !important;
  color: #fefcfc;
  padding: 0.5rem 4rem;
  border-radius: 8px;
}
.btn-nova_bg {
  background: #3090f8 !important;
  color: #fefcfc;
  padding: 0.5rem 4rem;
  border-radius: 8px;
}
.btn-sec_bg {
  background: #0b8657;
  color: #fefcfc;
  padding: 0.5rem 4rem;
  border-radius: 8px;
}

.swiper-pagination {
  margin-top: 2rem;
}
.grid-2 {
  display: grid;
  grid-template-columns: 6fr 6fr;
  overflow: hidden;
}
.grid-2_diff1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 8px;
  align-items: center;
}
.grid-2_diff2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 8px;
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 8px;
  row-gap: 8px;
}
.social-icon {
  padding: 8px;
  border-radius: 50%;
  border: 2px solid;
  height: 36px;
  width: 36px;
}

.page-center {
  height: 100vh;
  align-items: center;
}

.sidebar-container {
  width: 32rem;
  padding: 1rem 0.2rem 1rem 2rem;
  background-color: #cde3cf3d;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

.side-bar_flex {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 2rem;
}
.main-flex {
  background-color: #e8ecf04d;
  padding: 2rem 1.5rem;
  display: flex;
  width: 100%;
  border-radius: 8px;
  gap: 20px;
}

.tabble th {
  padding: 12px;
  text-align: start;
}

.footer-flex_2 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2rem;
}

.blog-bg_image {
  background-image: url("/asset/nova-blog-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-about-img {
  background-image: url("https://res.cloudinary.com/dstqfrcxx/image/upload/v1712331999/F57F6C1C-2575-48D7-9893-14E0DE6B959E_btyhaw.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.demo-bg-img {
  background-image: url("/asset/nova-bg-demo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.blog-post_grid1 {
  display: grid;
  grid-template-columns: 7fr 5fr;
}
.blog-post_grid2 {
  display: grid;
  grid-template-columns: 4fr 8fr;
  column-gap: 0.75rem;
  row-gap: 0.75rem;
}

.inner-blog-bg_img {
  background-image: url("/asset/nova-blog_inner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footer_grid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.75rem;
  row-gap: 0.75rem;
}

.bg-image {
  background-image: url("/asset/nova-bg_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 780px;
}

.landing-img_bg {
  background-image: url("/asset/nova-img_bg.png");
  background-repeat: no-repeat;
}

.abs-spec {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.abs-spec-1 {
  position: absolute;
  bottom: 0%;
  left: 60%;
  transform: translate(-50%, 50%);
}
.abs-spec-2 {
  display: hidden;
}

.margin-spec {
  margin-top: 114px;
}

.team-margin {
  margin: 0px 150px;
}
.ceo-abs-1 {
  display: none;
}

.grid-inner_blog {
  display: grid;
  grid-template-columns: 3fr 9fr;
}
.ceo-img {
  width: 100%;
}
.ceo-spc {
  padding-left: 154px;
  padding-right: 154px;
}
.ceo-abs-1_1 {
  display: none;
}
.contact-gap {
  gap: 196px;
}
.spec-pt {
  padding-top: 80px;
}
@media (max-width: 1380px) {
  .ceo-spc {
    padding-left: 114px;
    padding-right: 114px;
  }
  .contact-gap {
    gap: 146px;
  }
  .ceo-img {
    width: auto;
  }
  .ceo-abs {
    position: absolute;
    bottom: -7%;
    right: 10%;
    max-width: 902px;
    display: none;
  }
  .team-margin {
    margin: 0px 90px;
  }
  .about-abs {
    transform: translateY(-30%);
    max-width: 619px;
  }
  .ceo-abs-1 {
    display: block;
    max-width: 1102px;
  }
  .ceo-margin {
    margin-bottom: 130px;
  }
}

@media (max-width: 1279px) {
  .contact-gap {
    gap: 96px;
  }
  .bg-about-img {
    background-image: url("/asset");
  }
  .ceo-spc {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1180px) {
  .contact-gap {
    gap: 46px;
  }
  .ceo-spc {
    padding-left: 64px;
    padding-right: 64px;
  }
  .ceo-margin {
    margin-bottom: 160px;
  }
  .about-abs {
    transform: translateY(-10%);
    max-width: 619px;
  }

  .team-margin {
    margin: 0px 10px;
  }
  .margin-spec {
    margin-top: 94px;
  }
  .btn-primary_bg {
    background: #35b181 !important;
    color: #fefcfc;
    padding: 0.5rem 3rem;
    border-radius: 8px;
  }

  /* .abs-spec {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
  } */

  .footer-grid {
    grid-template-columns: 4fr 8fr;
  }

  .navbar {
    display: none;
  }
  .navbar-mobile {
    display: block;
  }
  .spec-pt {
    padding-top: 48px;
  }

  .main-container {
    padding: 1.5rem 2rem;
  }
  .footer-container {
    background-color: #5758ef1c;
    padding: 2rem 4rem;
  }
  .subscribe-container {
    padding: 2rem 4rem;
  }
  .testimony-abs {
    bottom: -20px;
    right: 1%;
    margin-left: 25rem;
  }
  .abs-margin {
    margin-bottom: 2rem;
  }
  .header-1_black {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 49px;
  }
  .header-2_black {
    font-weight: 900;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-3_black {
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-4_black {
    font-weight: 900;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .label-1_black {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-2_black {
    font-weight: 900;
    font-size: 1.375rem;
    line-height: 39px;
  }
  .label-3_black {
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-4_black {
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 27px;
  }

  .header-1_bold {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 49px;
  }
  .header-2_bold {
    font-weight: 600;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-3_bold {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-4_bold {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .label-1_bold {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-2_bold {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-3_bold {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-4_bold {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .header-1_medium {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 49px;
  }
  .header-2_medium {
    font-weight: 500;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-3_medium {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-4_medium {
    font-weight: 500;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .label-1_medium {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-2_medium {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-3_medium {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-4_medium {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .header-1_regular {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 49px;
  }
  .header-2_regular {
    font-weight: 400;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-3_regular {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-4_regular {
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .label-1_regular {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-2_regular {
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-3_regular {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-4_regular {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .header-1_light {
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 49px;
  }
  .header-2_light {
    font-weight: 300;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-3_light {
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-4_light {
    font-weight: 300;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .label-1_light {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-2_light {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 29px;
  }
  .label-3_light {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-4_light {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .text-1_black {
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_black {
    font-weight: 900;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_black {
    font-weight: 900;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_black {
    font-weight: 900;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_bold {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_bold {
    font-weight: 700;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_bold {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_bold {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_medium {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_medium {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_medium {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_medium {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_regular {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_regular {
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_regular {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_regular {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_light {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_light {
    font-weight: 300;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_light {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_light {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 18px;
  }

  .footer_grid {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .ceo-spc {
    padding-left: 44px;
    padding-right: 44px;
  }
  .about-abs {
    left: 1%;
    transform: translateY(20%);
    max-width: 819px;
  }
  .margin-spec {
    margin-top: 84px;
  }
  .btn-primary_bg {
    background: #35b181 !important;
    color: #fefcfc;
    padding: 0.5rem 2rem;
    border-radius: 8px;
  }

  .main-container {
    padding: 1rem 1.5rem;
  }
  .footer-container {
    background-color: #5758ef1c;
    padding: 2rem 3.5rem;
  }
  .subscribe-container {
    padding: 2rem 3.5rem;
  }
  .blog-post_grid1 {
    grid-template-columns: 1fr;
  }
  .testimony-abs {
    bottom: -40px;
    right: 1%;
    margin-left: 20rem;
  }
  .abs-margin {
    margin-bottom: 4rem;
  }
  .header-1_black {
    font-weight: 900;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-2_black {
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-3_black {
    font-weight: 900;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .header-4_black {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-1_black {
    font-weight: 900;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-2_black {
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-3_black {
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-4_black {
    font-weight: 900;
    font-size: 1rem;
    line-height: 26px;
  }

  .header-1_bold {
    font-weight: 700;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-2_bold {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-3_bold {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .header-4_bold {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-1_bold {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-2_bold {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-3_bold {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-4_bold {
    font-weight: 700;
    font-size: 1rem;
    line-height: 26px;
  }
  .header-1_medium {
    font-weight: 500;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-2_medium {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-3_medium {
    font-weight: 500;
    font-size: 1.635rem;
    line-height: 32px;
  }
  .header-4_medium {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-1_medium {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-2_medium {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-3_medium {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-4_medium {
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
  }
  .header-1_regular {
    font-weight: 400;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-2_regular {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-3_regular {
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .header-4_regular {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-1_regular {
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-2_regular {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-3_regular {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-4_regular {
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
  }
  .header-1_light {
    font-weight: 300;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-2_light {
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-3_light {
    font-weight: 300;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .header-4_light {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-1_light {
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 39px;
  }
  .label-2_light {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-3_light {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-4_light {
    font-weight: 300;
    font-size: 1rem;
    line-height: 26px;
  }
  .text-1_black {
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_black {
    font-weight: 900;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_black {
    font-weight: 900;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_black {
    font-weight: 900;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_bold {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_bold {
    font-weight: 700;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_bold {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_bold {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_medium {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_medium {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_medium {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_medium {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_regular {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_regular {
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_regular {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_regular {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_light {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_light {
    font-weight: 300;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_light {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_light {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .grid-2_diff1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 8px;
  }
  .grid-2_diff2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 8px;
  }
  .blog-post_grid2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .ceo-abs-1 {
    display: none;
    max-width: 1102px;
  }
  .ceo-abs-1_1 {
    display: block;
  }
  .ceo-spc {
    padding-left: 24px;
    padding-right: 24px;
  }
  .grid-inner_blog {
    grid-template-columns: 1fr;
  }
  .ceo-margin {
    margin-bottom: 170px;
  }
  .about-abs {
    transform: translateY(30%);
    max-width: 819px;
  }
  .abs-spec-1 {
    display: none !important;
  }
  .abs-spec {
    left: 45%;
  }
  .abs-spec-2 {
    display: block !important;
    position: absolute;
    bottom: 50%;
    left: 57%;
    transform: translate(-60%, 400%);
  }
  .margin-spec {
    margin-top: 74px;
  }
  .contact-container {
    display: block;
  }
  .footer-flex_1 {
    flex: 1;
  }
  /* .footer-flex_2 {
    flex: 2;
  } */
  .footer-grid {
    grid-template-columns: 1fr;
  }
  .grid-2_diff1 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 8px;
  }
  .grid-2_diff2 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 8px;
  }
  .col-1 {
    order: 2;
  }

  .col-2 {
    order: 1;
  }
  .testimony-abs {
    bottom: -60px;
    right: 1%;
    margin-left: 15rem;
  }
  .abs-margin {
    margin-bottom: 5rem;
  }
}

@media (max-width: 800px) {
  .ceo-spc {
    padding-left: 16px;
    padding-right: 16px;
  }
  .ceo-margin {
    margin-bottom: 250px;
  }
  .about-abs {
    transform: translateY(40%);
    max-width: 819px;
  }
  .margin-spec {
    margin-top: 64px;
  }
  .btn-primary_bg {
    background: #35b181 !important;
    color: #fefcfc;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
  }
  .grid-2 {
    grid-template-columns: 1fr;
  }
  .grid-3 {
    grid-template-columns: 1fr 1fr;
  }
  .blog-post_grid2 {
    grid-template-columns: 1fr;
  }
  .footer_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .testimony-abs {
    bottom: -60px;
    right: 1%;
    margin-left: 12rem;
  }
  .abs-margin {
    margin-bottom: 5rem;
  }

  .main-container {
    padding: 0.5rem 1rem;
  }
  .footer-container {
    background-color: #5758ef1c;
    padding: 2rem 2rem;
  }
  .subscribe-container {
    padding: 2rem 2rem;
  }
  .header-1_black {
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-2_black {
    font-weight: 900;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .header-3_black {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .header-4_black {
    font-weight: 900;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-1_black {
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-2_black {
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-3_black {
    font-weight: 900;
    font-size: 1rem;
    line-height: 26px;
  }
  .label-4_black {
    font-weight: 900;
    font-size: 0.875rem;
    line-height: 25px;
  }

  .header-1_bold {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-2_bold {
    font-weight: 600;
    font-size: 1.625rem;
    line-height: 28px;
  }
  .header-3_bold {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .header-4_bold {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-1_bold {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-2_bold {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-3_bold {
    font-weight: 700;
    font-size: 1rem;
    line-height: 26px;
  }
  .label-4_bold {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 25px;
  }
  .header-1_medium {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-2_medium {
    font-weight: 500;
    font-size: 1.635rem;
    line-height: 32px;
  }
  .header-3_medium {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .header-4_medium {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-1_medium {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-2_medium {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-3_medium {
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
  }
  .label-4_medium {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 25px;
  }
  .header-1_regular {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-2_regular {
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .header-3_regular {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .header-4_regular {
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-1_regular {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-2_regular {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-3_regular {
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
  }
  .label-4_regular {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 25px;
  }
  .header-1_light {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 38px;
  }
  .header-2_light {
    font-weight: 300;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .header-3_light {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 29px;
  }
  .header-4_light {
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 28px;
  }
  .label-1_light {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 27px;
  }
  .label-2_light {
    font-weight: 300;
    font-size: 1rem;
    line-height: 26px;
  }
  .label-3_light {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 25px;
  }
  .label-4_light {
    font-weight: 300;
    font-size: 1rem;
    line-height: 26px;
  }
  .text-1_black {
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_black {
    font-weight: 900;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_black {
    font-weight: 900;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_black {
    font-weight: 900;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_bold {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_bold {
    font-weight: 700;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_bold {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_bold {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_medium {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_medium {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_medium {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_medium {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_regular {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_regular {
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_regular {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_regular {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_light {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_light {
    font-weight: 300;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_light {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_light {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 18px;
  }
}

@media (max-width: 710px) {
  .about-abs {
    transform: translateY(50%);
    max-width: 819px;
  }
  .abs-spec-2 {
    bottom: 50%;
    left: 57%;
    transform: translate(-60%, 300%);
  }
}

@media (max-width: 700px) {
  .ceo-spc {
    padding-left: 34px;
    padding-right: 34px;
  }
  .ceo-abs {
    bottom: -40%;
    right: 7%;
    max-width: 902px;
  }
  .margin-spec {
    margin-top: 54px;
  }
  .testimony-abs {
    bottom: -70px;
    right: 1%;
    margin-left: 5rem;
  }
  /* .grid-2_diff2 {
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 8px;
  } */
  .abs-margin {
    margin-bottom: 6rem;
  }
  .footer-flex_2 {
    grid-template-columns: 3fr 5fr;
    gap: 1rem;
  }
  .footer-container {
    background-color: #5758ef1c;
    padding: 2rem 1.5rem;
  }
  .subscribe-container {
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 639px) {
  .ceo-margin {
    margin-bottom: 0px;
  }
}
@media (max-width: 550px) {
}
@media (max-width: 500px) {
  .ceo-spc {
    padding-left: 24px;
    padding-right: 24px;
  }
  .margin-spec {
    margin-top: 20px;
  }
  .main-container {
    padding: 0.5rem 0.5rem;
  }
  .footer-container {
    background-color: #5758ef1c;
    padding: 2rem 0.5rem;
  }
  .subscribe-container {
    padding: 2rem 0.5rem;
  }
  .testimony-img {
    height: 1000px;
  }
  .footer_grid {
    grid-template-columns: 1fr 1fr;
  }
  .testimony-abs {
    bottom: -100px;
    right: 1%;
    margin-left: 0.4rem;
    display: none;
  }
  .abs-margin {
    margin-bottom: 8rem;
    display: none;
  }
  .abs-spec {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    display: none;
  }
  .abs-spec-1 {
    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-50%, -50%);
    display: none;
  }

  .abs-spec-2 {
    bottom: 50%;
    left: 57%;
    transform: translate(-60%, 300%);
    display: hidden;
  }
  .ceo-abs {
    bottom: -50%;
    right: 7%;
    max-width: 619px;
    display: none;
  }
}
